/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

.body-flow {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  .btn-secondary {
    height: 36px;
    color: #58595B;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid #C6C7C9;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    &:disabled {
      opacity: 0.3;
      color: #58595B;
      background-color: rgba(255,255,255,0.05);
    }
    &:hover,
    &:focus {
      border: 1px solid #003DA1;
      color: #014F93;
      background-color: rgba(255,255,255,0.35);
    }
    &:active {
      border: 1px solid #00213E;
      color: #00213E;
      background-color: rgba(255,255,255,0.5);
    }
  }
  .btn-link.clear-filter-btn {
    color: #58595B;
    font-size: 14px;
    transition: 50ms;
    text-decoration: none;
    &:hover {
      color: #003DA1;
    }
    &.btn-disabled {
      opacity: 0.3;
    }
    &:active,
    &:focus {
      color: #00213E;
    }
  }
}

.filter-name {
  font-size: 12px;
  margin-bottom: 0px;
  padding-left: 0.55rem;
}
.form-control.filters {
  color: #929497;
  background-color: #f5f6f8;
  border: 1px solid #dcdee1;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free",Avenir-Roman;
  padding-left: .55rem;
}

.report-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C6C7C9;
  color: #58595B;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 40px;
}

.text-capitalized {
  text-transform: capitalize;
}

.chart-title {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #58595B;
}
