/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';

.body-flow {
  display: flex;
  flex-direction: column;
  height: 100%;
}
