
.dropdown a {
  font-size: 13px;
}

.dropdown-menu {
  min-width: 100%;
}

.bg {
  background-image: url(/assets/images/Login_Background.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.portaldesc {
  font-size: 18px;
}

.portal-name{
  font-size: 50px;
  font-weight: 300;
}

.card-body {
  padding: 2rem;
}