.counts-per-day-chart {
  display: flex;
  min-height: 250px;
  height: 250px;
  max-height: 250px;
}
.border-bottom-3 {
  border-bottom: 3px solid #5AA454;

  &.blue {
    border-color: #7aa3e5;
  }
  &.orange {
    border-color: #C7B42C;
  }
  &.light-blue {
    border-color: #aae3f5;
  }
}
