.card {
  cursor: pointer;
  height: calc(100% - 20px);
  box-shadow: 1px 1px 3px rgb(212, 212, 212), -1px -1px 3px rgb(212, 212, 212);
  &:hover {
    .card-overlay {
      opacity: 0.1;
    }
  }
  &.card-disabled {
    cursor: default;
    opacity: 0.4;
    box-shadow: unset;
    pointer-events: none;
    &:hover {
      .card-overlay {
        opacity: 0;
      }
    }
  }
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgb(0, 0, 0);
  }
  .card-body {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: hsl(220, 18%, 97%);
  }
  .card-footer {
    font-size: 16px;
  }
}
