.error-card-wrapper {
  height: 65vh;
  display: flex;
  .error-card {
    margin: 5% 25%;
    max-width: 70%;
    max-height: 250px;
    overflow: hidden;
    .card-body{
      border-left: 20px solid #122377;
    }
    .card-text{
      font-size: 32px;
      color: #122377;
    }
  }
}
